.button {
  border-radius: 4px;
  position: relative;
  padding: 15px;
  border: none;
  transition: all .2s ease-in;
  min-width: 40px;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(197, 194, 194);
}